* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 10000px;
}
.title {
    position: absolute;
    margin-top: 200px;
    z-index: 1;
}
header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2);
    background-color: rgba(240, 248, 255, 0.767);  
    padding: 10px 5px; 
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
}
img {
    width: 13%;
    margin-left: 50px;
}
.main-menu {
    margin-right: 50px;
}
.main-menu a {
    margin: 5px 35px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
}
.main-menu a:hover{
    color:#3f9cfb;
}
.main-menu button {
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 2px solid #3f9cfb;
    color: #3f9cfb;
    cursor: pointer;
}
.main-menu button:hover{
    background-color: #f5f7f8;
    backdrop-filter: blur(5px);   
}
header i {
    visibility: hidden;
}

/*Media screen*/
@media only screen and (max-width:856px){
    .main-menu {
        display: none;
    }
    header i {
        visibility: visible;
        padding-right: 30px;
        font-size: 20px;
    }
    header i:hover {
        color:#3f9cfb
    }
    header img {
        width: 120px;
        margin-left: 15px;
    }
}